/* Flex Carousel 0.1.2 ( https://github.com/tightcode/flex-carousel ) */
@media (max-width: 1919.98px) {
  .carousel-item .img {
    display: flex;
    justify-content: center;
    overflow: hidden;
  }
  .carousel-item .img img {
    width: auto;
    flex: none;
  }
}
@media (min-width: 1920px) {
  .carousel-item .img {
    display: block;
    justify-content: normal;
  }
  .carousel-item .img img {
    height: auto;
    width: 100%;
    min-width: 100%;
  }
}