/* Preloadr 0.2.5 ( https://github.com/tightcode/preloadr ) */
/* Critical CSS (for internal use) */
.no-js {
  visibility: hidden;
  opacity: 0;
}
.js {
  visibility: visible;
  opacity: 1;
}
body {
  overflow:auto;
}
body.loading {
  background-color: purple;
}
body.overflow {
  overflow:hidden;
}
#loader {
  pointer-events: none;
  position: fixed;
  z-index: 1100;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: purple;
  transition: opacity 3s;
  opacity: 0;
}
#loader.visible {
  pointer-events: auto;
  opacity: 1;
}
#loader img {
  display:block;
  width: 400px;
  height: 356px;
  position: relative;
  margin: auto;
  top: 50%;
  margin-top: -178px;
  animation: appear 1s, 2s floating infinite ease-in-out;
  visibility: visible;
  opacity: 1;  
}
#loader img.hidden {
  visibility: hidden;
  opacity: 0;
}
#loader img.removed {
  display: none;
}
#wrapper {
  visibility: visible;
  opacity: 1;
}
#wrapper.hidden {
  visibility: hidden;
  opacity: 0;
}
img {
  max-width: 100%;
}
@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes floating {
  from {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, -25px);
  }
  to {
    transform: translate(0, 0px);
  }
}